body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: linear-gradient(180deg,#fce4ec,#e1bee7,#e3f2fd);
  color: #222;
}

.oculto { display: none; }

/* PASSWORD */
.pantalla-password {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  max-width: 320px;
  width: 90%;
}

/* PORTADA */
.portada {
  text-align: center;
  padding: 40px 20px;
}

.titulo {
  font-size: 2.2em;
}

/* BOTÓN CARTA */
.bloque-carta {
  background: white;
  padding: 20px;
  border-radius: 16px;
  max-width: 320px;
  margin: 25px auto;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* CANCIÓN */
.cancion-dia {
  background: white;
  padding: 20px;
  border-radius: 16px;
  max-width: 320px;
  margin: 20px auto;
  text-align: center;
}

/* SELECTOR */
.selector-cartas {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.selector-cartas select {
  width: 220px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

/* CARTA */
.carta {
  background: repeating-linear-gradient(
    white,
    white 26px,
    #ddd 27px
  );
  max-width: 340px;
  min-height: 550px;
  margin: 30px auto;
  padding: 50px 35px;
  border-radius: 12px;
  line-height: 27px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  position: relative;
}

.carta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 45px;
  width: 2px;
  height: 100%;
  background: #e57373;
}

.carta p {
  white-space: pre-line;
}

.numero-dia {
  position: absolute;
  top: 20px;
  left: 15px;
  font-weight: bold;
  writing-mode: vertical-rl;
  color: #b71c1c;
}

/* GALERÍA */
.galeria {
  text-align: center;
  margin: 40px 0;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.carrusel img {
  width: 260px;
  border-radius: 16px;
}

/* VIDEO */
.bloque-video {
  max-width: 340px;
  margin: 40px auto;
  text-align: center;
}

video {
  width: 100%;
  border-radius: 16px;
}

.contador-final {
  margin-top: 10px;
  background: #400;
  color: #ffcccc;
  padding: 10px;
  border-radius: 10px;
  font-family: monospace;
}
